#team{
    background-color: rgb(214, 255, 255);
    border-radius:20px ;
    color: rgb(0, 0, 0);
}

.box{
    position: relative;
  width: 100%;
}

.box .img-box {
    position: relative;
    overflow: hidden;

}
.box .img-box img{
    max-width: 100%;
    transition: transform  1s;
    width: 100%;
}

.box:hover .img-box img{
    transform: scale(1.1);
}



#team .Service-btn{
    background-color: #00acb1;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 10px;
}
#team .Service-btn:hover{
    background-color: #0c3738;
    color: #fff;
    
}